<div>
    <h3>We’re Here to Help</h3>
    <p>
        <span class="text-uppercase"><strong>Contact Sales: </strong></span>+1 (650) 888-8888, or <a href="#">submit an inquiry.</a><br />
        <span class="text-uppercase"><strong>Contact Support: </strong></span>See all support options on <a href="#">this page.</a><br />
        <span class="text-uppercase"><strong>Other Inquiries: </strong></span>Use the form on this page.<br />
    </p>
    <h3>Corporate Headquarters</h3>
    <address>
        <span>2953 Bunker Hill Lane, Suite 888</span><br />
        <span>Santa Clara, CA 95054</span><br />
        <span>United States</span><br />
        <span><a href="#">Directions</a></span><br />
        <span>+1 (650) 888-8888</span><br />
        <span>+1 (650) 888-8888 (fax)</span><br />
    </address>
    <h3>Europe Development Center</h3>
    <address>
        <span>Barykadna St, 15A</span><br />
        <span>Dnipropetrovsk</span><br />
        <span>Dnipropetrovsk Region</span><br />
        <span>Ukraine 49000</span><br />
        <span><a href="#">Directions</a></span><br />
        <span>+38 (056) 888-88-88</span><br />
    </address>
</div>
