
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron body1">
    <h1 class="text-center">We are a Private Company</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>



<script>
    $("#liHome").addClass("active");
    $("#liAbout").removeClass();
    $("#liContact").removeClass();
</script>