
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">            
                <h3 class="text-center">All Watches</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered table-striped table-hover table-condensed text-center">
                    <tr class="danger">
                        <td>#</td>
                        <td>Brand</td>
                        <td>Model</td>
                        <td>Price, £</td>
                        <td></td>
                    </tr>
                    @foreach ( var w in ViewBag.Watches )
                    {                        
                        <tr>
                            <td><p>@w.WatchId</p></td>
                            <td><p>@w.Brand</p></td>
                            <td><p>@w.Model</p></td>
                            <td><p>@w.Price</p></td>
                            <td><p><a href="" class="btn  btn-success">Buy</a></p></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
