@model _4_LeatherCraft.Models.Visitor

@{
    ViewBag.Title = "Thanks";
}

<h1>Dear @Model.FirstName @Model.LastName!</h1>
<h3>We appretiate your interest to our company.</h3>
<h3>Sencierly yours,</h3>
<h3>LeatherCraft</h3>