
@{
    ViewBag.Title = "Leather Craft";
}

<div class="jumbotron">
    <h1 class="text-center">We are a Private Company</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>



<script>
    $("#liHome").removeClass();
    $("#liAbout").removeClass();
    $("#liContact").removeClass();
    $("#liHome").addClass("active");

    $(".jumbotron").css("background-color", "aqua");
    $(".jumbotron").css("opacity", 0.6);
</script>